.skills__ai{
    display: flex;
    width: 225px;
    height: 250px;

}

@media (max-width:750px){
.skills__ai{
                 margin-bottom: 2rem;
                 margin-top:2rem;
                }
            }
            
            