.sobreMi__titulo{
    margin-top: 1rem; 
    
    font-weight: 800;
    font-size: 40px;
     
}


@media (max-width:750px){
    .sobreMi__titulo{
       font-weight: 700;
       font-size: 30px;
    }
}

