 .softSkill__text{
    font-family: 'Agdasima', sans-serif;
    padding-top: 3rem;
    margin-right: 3rem;
    padding-bottom: 10rem;
    font-weight: 800;
    font-size: 40px;
    margin-left: 2rem;
 }

 
@media (max-width:750px){
   .softSkill__text{
           margin-left: 1px;
           margin-right: 1px;
           
          }
          }