.softSkills__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    padding-left: 3rem;
    margin-left: 6rem;
}


@media (max-width:750px){
 .softSkills__menu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-left: 1px;
      padding-left: 1px;
      margin-top: 2.5rem;
 
    }
}

